// vars
$text: #313131;
$orange: #ff8663;
$grey: #4f4f4f;

// layout
@import "_misc/font";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/setting";

// style
@import "section/content";